<div class="trip-header" style="background-color:<%= trip.bannerColor %>">
    <div class="trip-header-title">
        <%= trip.macroLocation %>
    </div>
</div>
<div class="trip-nav">
    <a href="/trips/<%= trip._id %>" class="clean-anchor">
        <div class="trip-nav-item" data-active-link="<%= activeLink %>" id="route">
            route
        </div>
    </a>
    <% if (trip.destinations.length > 0) { %>
    <a href="/trips/<%= trip._id %>/reservations" class="clean-anchor">
        <div class="trip-nav-item" data-active-link="<%= activeLink %>" id="reservations">
            reservations
        </div>
    </a>
    <a href="/trips/<%= trip._id %>/destinations" class="clean-anchor">
        <div class="trip-nav-item" data-active-link="<%= activeLink %>" id="details">
            summary
        </div>
    </a>
    <% } %>
</div>