<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<%- include('../partials/trip-header') %>

    <% if (trip.destinations.length > 0) { %>
        <div class="trip-route uniform-padding">
            <div class="flex-form">
                <div class="route">
                    <% trip.destinations.forEach(function(d) { %>
                        <div class="destination-detail">
                                <div> <span class="hide">edit / update this leg of the journey: <a href="/destinations/<%= d._id %>/edit"><%= d.location %></a></span> </div>
                            <% if (d.arrival != null) { %>
                                <div>
                                    arrive to <b><%= d.location %></b>
                                    on <%=new Intl.DateTimeFormat('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true,}).format(d.arrival) %> 
                                    by <%= d.arrivesBy %>
                                </div>      
                            <% } %> 
                            <% if (d.departure != null) { %>
                                <div>
                                    depart from <b><%= d.location %></b> 
                                    on <%=new Intl.DateTimeFormat('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true,}).format(d.departure) %> 
                                    by <%= d.departsBy %>
                                </div>  
                            <% } %>
                        </div>
                    <% }) %>
                </div>
                <div class="flex-form-submit">
                    <a onclick="editRoute(event)" class="clean-anchor">
                        <div class="form-submit-div animate-btn circle-btn seashell" id="edit-route">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    <% } %>
<%- include('../partials/footer') %>