<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<%- include('../partials/trip-header') %>

    <% if (trip.destinations.length > 0) { %>
        <div class="trip-route uniform-padding">
            <div class="single-column">
                <% days.forEach( function(day) { %>
                    <div class="reservation-card"> 
                        <div class="day"><%= day.date %></div>
                        <hr>
                        <% day.destinations.forEach( function(d) { %>
                            <div class="activity"><a class="clean-anchor" href="<%=d.route%>"><b><%= d.displayText %></b></a></div>
                        <% }) %>
                        <% day.activites.forEach( function(a) { %>
                            <div class="activity"> <a class="clean-anchor" href="/reservations/<%=a._id%>"><%= a.name %></a></div>
                        <% }) %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
<%- include('../partials/footer') %>