<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<%- include('../partials/trip-header') %>

<div class="trip-route uniform-padding">
    <div id="error" class="center-me"></div>
    <form action="/trips/<%= trip._id %>/destinations" method="POST" class="flex-form" onsubmit="return validateNewDestination()" name="newDestination">
        <div class="flex-form-inputs">
            <div>
                <label>
                <% if (trip.destinations.length > 0) { %>
                    Destination
                <% } else { %>
                    Where are you leaving from?
                <% } %>
                    <input type="text" name="location" required>
                </label>
            </div>
        <% if (trip.destinations.length > 0) { %>
            <div>
                <label>Arrival Date
                    <input type="datetime-local" name="arrival" required>
                </label>
            </div>
            <div>
                <label>Arriving By
                    <select name="arrivesBy" required>
                        <option></option>
                        <option value="Flight">Flight</option>
                        <option value="Train">Train</option>
                        <option value="Car">Car</option>
                        <option value="Bus">Bus</option>
                    </select>
                </label>
            </div>   
        <% } %>
            <div>
                <label>Departure Date
                    <input type="datetime-local" name="departure">
                </label>
            </div>
            <div>
                <label>Departing By
                    <select name="departsBy">
                        <option></option>
                        <option value="Flight">Flight</option>
                        <option value="Train">Train</option>
                        <option value="Car">Car</option>
                        <option value="Bus">Bus</option>
                    </select>
                </label>
            </div>   
        </div>
        <div class="flex-form-submit">
            <div class="animate-btn form-submit-div seashell">
                <input class="form-submit-input" type="submit" value="ADD">
            </div>
        </div>
    </form>
</div>

<%- include('../partials/footer') %>