<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<%- include('../partials/trip-header') %>

<div class="trip-route uniform-padding">
    <div class="grid-form">
        <div class="grid-column width-100">
            <% if (trip.reservations.length > 0) { %>
                <% days.forEach( function(day) { %>
                    <% if (day.activites.length > 0) {  %>
                        <div class="reservation-card"> 
                            <div class="day"><%= day.date %></div>
                            <hr>
                            <% day.activites.forEach( function(a) { %>
                                <div class="activity">
                                    <a class="clean-anchor" href="/reservations/<%=a._id%>"><%= a.name %></a>
                                </div>
                            <% }) %>
                        </div>
                    <% } %>
                <% }) %>
            <% } else { %>
                you haven't added any reservations details yet!
            <% } %>
        </div>
        <div class="grid-column">
            <a href="/trips/<%= trip._id %>/reservations/new" class="clean-anchor">
                <div class="form-submit-div animate-btn circle-btn seashell">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>