<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% if (trips.length > 0) { %>
    <div class="trips-container">
    <% trips.forEach(function(t) { %>
        <div class="trip-square">
            <a href="/trips/<%= t._id %>">
                <div class="trip-img">
                    <img src="https://www.state.gov/wp-content/uploads/2019/04/Japan-2107x1406.jpg">
                </div>
                <div class="trip-square-text">
                    <%= t.macroLocation %>
                </div>
            </a>
        </div>
    <% }) %>
        <a href="/trips/new" class="trip-square sq-empty" >
            <div>
                <span>create a new trip</span>
            </div>
        </a>
    </div>
<% } else { %> 
    <div class="home-pg-empty uniform-margin">
        <div>
            <img src="https://i.imgur.com/YuefDHi.png">
        </div>
        <div id="home-pg-empty-btn">
            <a href="/trips/new" class="clean-anchor">
                <div class="home-pg-new-trip animate-btn">
                    <span>CREATE A TRIP</span>
                </div>
            </a>
        </div>
    </div>
<% } %>

<%- include('../partials/footer') %>