<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<%- include('../partials/trip-header') %>

<div class="trip-route uniform-padding">
    <div class="flex-form">
        <div class="route">
        <% if (trip.destinations.length > 0) { %>
            <% trip.destinations.forEach(function(d) { %>
                <div> <%= d.location %> </div>
            <% }) %>
        <% } %>
        </div>
        <div class="flex-form-submit">
            <a href="/trips/<%= trip._id %>/destinations/new" class="clean-anchor">
                <div class="form-submit-div animate-btn route-btn seashell">
                    <span>add a destination</span>
                </div>
            </a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>